@font-face {
	font-family: 'Fibon Sans';
	src: url('FibonSans.eot');
	src: url('FibonSans.eot?#iefix') format('embedded-opentype'),
		url('FibonSans.woff2') format('woff2'),
		url('FibonSans.woff') format('woff'),
		url('FibonSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body{
text-decoration: none;
font-size: 16px;
margin: 1rem;
padding: 0;
font-family: 'Fibon Sans', sans-serif;
}

h2, h1 {
  text-align: center;
}

#playerlist {

}

.panel {
    position: fixed;
    left: -15.625em; /*right or left and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
  position: relative;
}



.navigation{
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: #1560fb;
  font-size: 1.5em;
}

.nav-link:hover {
  color: black;
  background-color: white;
  opacity: .8;
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: #43fb60;

}

.email-btn_text {
  width: 25%;
  height: 50px;
  background-color: #42FBca;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.email-btn_text:hover {
  width: 25%;
  height: 50px;
  background-color: black;
  color: #42FBca;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  padding: 1rem;
  margin-bottom: 1rem;
}
